@layer fonts {
    @font-face {
        font-family: 'Lora';
        src: url('/fonts/lora-variable-weight.ttf') format('truetype');
        font-style: normal;
    }

    @font-face {
        font-family: 'Lora';
        src: url('/fonts/lora-italic-variable-weight.ttf') format('truetype');
        font-style: italic;
    }
}