@layer fonts {
    @font-face {
        font-family: 'Sofia Pro Semi';
        src: url('/fonts/SofiaPro/SofiaProSemiBold.eot');
        src: local('Sofia Pro Semi Bold'), local('SofiaProSemiBold'),
            url('/fonts/SofiaPro/SofiaProSemiBold.eot?#iefix') format('embedded-opentype'),
            url('/fonts/SofiaPro/SofiaProSemiBold.woff2') format('woff2'),
            url('/fonts/SofiaPro/SofiaProSemiBold.woff') format('woff'),
            url('/fonts/SofiaPro/SofiaProSemiBold.ttf') format('truetype');
        font-weight: 600;
        font-style: normal;
    }

    @font-face {
        font-family: 'Sofia Pro';
        src: url('/fonts/SofiaPro/SofiaProRegular-Italic.eot');
        src: local('Sofia Pro Regular Italic'), local('SofiaProRegular-Italic'),
            url('/fonts/SofiaPro/SofiaProRegular-Italic.eot?#iefix') format('embedded-opentype'),
            url('/fonts/SofiaPro/SofiaProRegular-Italic.woff2') format('woff2'),
            url('/fonts/SofiaPro/SofiaProRegular-Italic.woff') format('woff'),
            url('/fonts/SofiaPro/SofiaProRegular-Italic.ttf') format('truetype');
        font-weight: normal;
        font-style: italic;
    }

    @font-face {
        font-family: 'Sofia Pro Semi';
        src: url('/fonts/SofiaPro/SofiaProSemiBold-Italic.eot');
        src: local('Sofia Pro Semi Bold Italic'), local('SofiaProSemiBold-Italic'),
            url('/fonts/SofiaPro/SofiaProSemiBold-Italic.eot?#iefix') format('embedded-opentype'),
            url('/fonts/SofiaPro/SofiaProSemiBold-Italic.woff2') format('woff2'),
            url('/fonts/SofiaPro/SofiaProSemiBold-Italic.woff') format('woff'),
            url('/fonts/SofiaPro/SofiaProSemiBold-Italic.ttf') format('truetype');
        font-weight: 600;
        font-style: italic;
    }

    @font-face {
        font-family: 'Sofia Pro';
        src: url('/fonts/SofiaPro/SofiaProLight.eot');
        src: local('Sofia Pro Light'), local('SofiaProLight'),
            url('/fonts/SofiaPro/SofiaProLight.eot?#iefix') format('embedded-opentype'),
            url('/fonts/SofiaPro/SofiaProLight.woff2') format('woff2'),
            url('/fonts/SofiaPro/SofiaProLight.woff') format('woff'),
            url('/fonts/SofiaPro/SofiaProLight.ttf') format('truetype');
        font-weight: 300;
        font-style: normal;
    }

    @font-face {
        font-family: 'Sofia Pro';
        src: url('/fonts/SofiaPro/SofiaProExtraLight.eot');
        src: local('Sofia Pro ExtraLight'), local('SofiaProExtraLight'),
            url('/fonts/SofiaPro/SofiaProExtraLight.eot?#iefix') format('embedded-opentype'),
            url('/fonts/SofiaPro/SofiaProExtraLight.woff2') format('woff2'),
            url('/fonts/SofiaPro/SofiaProExtraLight.woff') format('woff'),
            url('/fonts/SofiaPro/SofiaProExtraLight.ttf') format('truetype');
        font-weight: 200;
        font-style: normal;
    }

    @font-face {
        font-family: 'Sofia Pro';
        src: url('/fonts/SofiaPro/SofiaProMedium-Italic.eot');
        src: local('Sofia Pro Medium Italic'), local('SofiaProMedium-Italic'),
            url('/fonts/SofiaPro/SofiaProMedium-Italic.eot?#iefix') format('embedded-opentype'),
            url('/fonts/SofiaPro/SofiaProMedium-Italic.woff2') format('woff2'),
            url('/fonts/SofiaPro/SofiaProMedium-Italic.woff') format('woff'),
            url('/fonts/SofiaPro/SofiaProMedium-Italic.ttf') format('truetype');
        font-weight: 500;
        font-style: italic;
    }

    @font-face {
        font-family: 'Sofia Pro';
        src: url('/fonts/SofiaPro/SofiaProUltraLight-Italic.eot');
        src: local('Sofia Pro UltraLight Italic'),
            local('SofiaProUltraLight-Italic'),
            url('/fonts/SofiaPro/SofiaProUltraLight-Italic.eot?#iefix') format('embedded-opentype'),
            url('/fonts/SofiaPro/SofiaProUltraLight-Italic.woff2') format('woff2'),
            url('/fonts/SofiaPro/SofiaProUltraLight-Italic.woff') format('woff'),
            url('/fonts/SofiaPro/SofiaProUltraLight-Italic.ttf') format('truetype');
        font-weight: 200;
        font-style: italic;
    }

    @font-face {
        font-family: 'Sofia Pro';
        src: url('/fonts/SofiaPro/SofiaProRegular.eot');
        src: local('Sofia Pro Regular'), local('SofiaProRegular'),
            url('/fonts/SofiaPro/SofiaProRegular.eot?#iefix') format('embedded-opentype'),
            url('/fonts/SofiaPro/SofiaProRegular.woff2') format('woff2'),
            url('/fonts/SofiaPro/SofiaProRegular.woff') format('woff'),
            url('/fonts/SofiaPro/SofiaProRegular.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
    }

    @font-face {
        font-family: 'Sofia Pro';
        src: url('/fonts/SofiaPro/SofiaProMedium.eot');
        src: local('Sofia Pro Medium'), local('SofiaProMedium'),
            url('/fonts/SofiaPro/SofiaProMedium.eot?#iefix') format('embedded-opentype'),
            url('/fonts/SofiaPro/SofiaProMedium.woff2') format('woff2'),
            url('/fonts/SofiaPro/SofiaProMedium.woff') format('woff'),
            url('/fonts/SofiaPro/SofiaProMedium.ttf') format('truetype');
        font-weight: 500;
        font-style: normal;
    }

    @font-face {
        font-family: 'Sofia Pro';
        src: url('/fonts/SofiaPro/SofiaProBold.eot');
        src: local('Sofia Pro Bold'), local('SofiaProBold'),
            url('/fonts/SofiaPro/SofiaProBold.eot?#iefix') format('embedded-opentype'),
            url('/fonts/SofiaPro/SofiaProBold.woff2') format('woff2'),
            url('/fonts/SofiaPro/SofiaProBold.woff') format('woff'),
            url('/fonts/SofiaPro/SofiaProBold.ttf') format('truetype');
        font-weight: bold;
        font-style: normal;
    }

    @font-face {
        font-family: 'Sofia Pro';
        src: url('/fonts/SofiaPro/SofiaProExtraLight-Italic.eot');
        src: local('Sofia Pro ExtraLight Italic'),
            local('SofiaProExtraLight-Italic'),
            url('/fonts/SofiaPro/SofiaProExtraLight-Italic.eot?#iefix') format('embedded-opentype'),
            url('/fonts/SofiaPro/SofiaProExtraLight-Italic.woff2') format('woff2'),
            url('/fonts/SofiaPro/SofiaProExtraLight-Italic.woff') format('woff'),
            url('/fonts/SofiaPro/SofiaProExtraLight-Italic.ttf') format('truetype');
        font-weight: 200;
        font-style: italic;
    }

    @font-face {
        font-family: 'Sofia Pro';
        src: url('/fonts/SofiaPro/SofiaProLight-Italic.eot');
        src: local('Sofia Pro Light Italic'), local('SofiaProLight-Italic'),
            url('/fonts/SofiaPro/SofiaProLight-Italic.eot?#iefix') format('embedded-opentype'),
            url('/fonts/SofiaPro/SofiaProLight-Italic.woff2') format('woff2'),
            url('/fonts/SofiaPro/SofiaProLight-Italic.woff') format('woff'),
            url('/fonts/SofiaPro/SofiaProLight-Italic.ttf') format('truetype');
        font-weight: 300;
        font-style: italic;
    }

    @font-face {
        font-family: 'Sofia Pro';
        src: url('/fonts/SofiaPro/SofiaProBlack-Italic.eot');
        src: local('Sofia Pro Black Italic'), local('SofiaProBlack-Italic'),
            url('/fonts/SofiaPro/SofiaProBlack-Italic.eot?#iefix') format('embedded-opentype'),
            url('/fonts/SofiaPro/SofiaProBlack-Italic.woff2') format('woff2'),
            url('/fonts/SofiaPro/SofiaProBlack-Italic.woff') format('woff'),
            url('/fonts/SofiaPro/SofiaProBlack-Italic.ttf') format('truetype');
        font-weight: 900;
        font-style: italic;
    }

    @font-face {
        font-family: 'Sofia Pro';
        src: url('/fonts/SofiaPro/SofiaProBlack.eot');
        src: local('Sofia Pro Black'), local('SofiaProBlack'),
            url('/fonts/SofiaPro/SofiaProBlack.eot?#iefix') format('embedded-opentype'),
            url('/fonts/SofiaPro/SofiaProBlack.woff2') format('woff2'),
            url('/fonts/SofiaPro/SofiaProBlack.woff') format('woff'),
            url('/fonts/SofiaPro/SofiaProBlack.ttf') format('truetype');
        font-weight: 900;
        font-style: normal;
    }

    @font-face {
        font-family: 'Sofia Pro';
        src: url('/fonts/SofiaPro/SofiaProUltraLight.eot');
        src: local('Sofia Pro UltraLight'), local('SofiaProUltraLight'),
            url('/fonts/SofiaPro/SofiaProUltraLight.eot?#iefix') format('embedded-opentype'),
            url('/fonts/SofiaPro/SofiaProUltraLight.woff2') format('woff2'),
            url('/fonts/SofiaPro/SofiaProUltraLight.woff') format('woff'),
            url('/fonts/SofiaPro/SofiaProUltraLight.ttf') format('truetype');
        font-weight: 200;
        font-style: normal;
    }

    @font-face {
        font-family: 'Sofia Pro';
        src: url('/fonts/SofiaPro/SofiaProBold-Italic.eot');
        src: local('Sofia Pro Bold Italic'), local('SofiaProBold-Italic'),
            url('/fonts/SofiaPro/SofiaProBold-Italic.eot?#iefix') format('embedded-opentype'),
            url('/fonts/SofiaPro/SofiaProBold-Italic.woff2') format('woff2'),
            url('/fonts/SofiaPro/SofiaProBold-Italic.woff') format('woff'),
            url('/fonts/SofiaPro/SofiaProBold-Italic.ttf') format('truetype');
        font-weight: bold;
        font-style: italic;
    }
}