#website-header {
    background-image: url("/images/header-background.png");
    background-repeat: repeat;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

#imgSouAcapra {
    position: absolute;
    right: 30px;
    width: 200px;
    height: auto;
    cursor: pointer;
}

#logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo {
    width: 80px;
    height: auto;
}

main {
    padding: 24px 16px;
}


@media (max-width: 480px) {
  #imgSouAcapra {
    width: 120px;
    right: 10px;
  }

  #logo {
    width: 60px;
  }

  #website-header {
    height: 80px;
  }
}

